/**
 * wp-admin
 */

.entry {
  .post-edit-link {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    line-height: 0.75;
    background: $secondary svg('<svg viewBox="0 0 18 20" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M17 20H1c-.6 0-1-.4-1-1s.4-1 1-1h16c.6 0 1 .4 1 1s-.4 1-1 1z" fill="#FFF"/><path d="M6 16H2c-.6 0-1-.4-1-1v-4c0-.3.1-.5.3-.7l10-10c.4-.4 1-.4 1.4 0l4 4c.4.4.4 1 0 1.4l-10 10c-.2.2-.4.3-.7.3zm-3-2h2.6l9-9L12 2.4l-9 9V14z" fill="#FFF"/></g></svg>') no-repeat 50% 50%;
    background-size: 60% 60%;
    text-indent: -999em;
  }
}


/**
 * wp next-prev
 */

// .nextprev {
//   position: fixed;
//   z-index: 1;
//   bottom: 30%;
//   right: 0;
//   left: 0;
//   pointer-events: none;
//   span {
//     background-size: 60% 60%!important;
//   }
//   .prev {
//     float: right;
//     background: svg('<svg viewBox="0 0 33 62" xmlns="http://www.w3.org/2000/svg"><path d="M1 61l30-30-30-30" stroke-width="4" stroke="#FF6666" fill="none"/></svg>') no-repeat 50% 50%;
//   }
//   .next {
//     float: left;
//     background: svg('<svg viewBox="0 0 33 62" xmlns="http://www.w3.org/2000/svg"><path d="M32 61l-30-30 30-30" stroke-width="4" stroke="#FF6666" fill="none"/></svg>') no-repeat 50% 50%;
//   }
//   span a {
//     width: 4em;
//     height: 4em;
//     display: block;
//     text-indent: -999em;
//     pointer-events: all;
//   }
// }


/**
 * wp-polls
 */

.wp-polls {
  text-align: center;
  padding: 1em 2em;
  h4 {
    text-align: center;
  }
  p {
    font-family: $system;
  }
  dl {
    margin: 2em 0 0;
    // border: 1px solid;
    // display: inline-block;
    text-align: initial;
  }
  dt {
    margin: 1em 0;
  }
  dt small {
    color: $medium;
  }
  // label {
  //   font-weight: bold;
  //   display: inline-block;
  //   width: inherit;
  //   padding: inherit;
  //   color: inherit;
  //   border-top: none;
  // }
  .bar {
    height: 0.875em;
    margin-top: 0.5em;
    background: $light;
  }
  .pollbar {
    height: 0.875em;
    background-image: linear-gradient(90deg, rgba($accent, 0.15), $accent);
  }
  [type="checkbox"] {
    display: none;
    + label {
      cursor: pointer;
      position: relative;
      margin: 0;
      padding-left: 2.5em;
      &::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 1.5em;
        height: 1.5em;
        background: #FFF;
        border: 2px solid $grey;
        transition: border linear .1s, background linear .1s;
      }
    }
    &:checked + label::after {
      border: 0 none transparent;
      background: $accent svg('<svg viewBox="0 0 24 25" xmlns="http://www.w3.org/2000/svg"><path d="M4 11.434L10.11 18 20 7.386 18.724 6l-8.615 9.244-4.822-5.18L4 11.433z" fill="#FFF" /></svg>') no-repeat 50% 50%;
    }
  }
}


/**
 * wp-pagenavi
 */

.wp-pagenavi {
  margin: 4em auto;
  a,
  .current,
  .pages,
  .extend {
    display: inline-block;
    padding: 0.375em 0.875em;
    text-decoration: none;
    color: $medium;
  }
  a.page {
    margin-right: 3px;
    color: $dark;
    background: rgba($light, 0.5);
    &:hover {
      // color: $dark;
      background: $light;
    }
  }
  .pages {
    padding-left: 0;
  }
  .current {
    font-weight: bold;
    margin-right: 3px;
    background: $accent;
    color: $light;
  }
  // .extend {}
}



