/**
 * Social icons
 */

.l-social {
  margin: 2rem auto 0;
  a {
    margin: 0.5rem;
    color: $dark;
    &:hover {
      color: $primary;
    }
    &.--accent:hover {
      color: $accent;
    }
  }
  svg {
    width: 3rem;
    height: 3rem;
  }
}


/**
 * Footer
 */

.l-footer {
  @include sm {
    // preserveAspectRatio="none" 
    background-image: svg('<svg viewBox="0 0 1200 340" xmlns="http://www.w3.org/2000/svg"><path d="M471.1 41.17C694.078 129.016 980.739 245.238 1200 340H0V110.114C115.455-21.813 309.963-22.313 471.1 41.17z" fill="#{$accent}"/></svg>'),
    svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 344"><path fill="#FFF" d="M0 163.005L1440 .225V344H0z"/></svg>');
    background-position: left bottom, right bottom;
    background-repeat: no-repeat, no-repeat;
    // background-size: 100% auto, auto 70%;
  }
  .inner {
    padding: 0 3rem 3rem;
    // > * {
    //   outline: 1px solid blue
    // }
  }
  .meta {
    text-align: center;
    @include sm {
      order: -1;
      flex: 60%;
      text-align: left;
    }
    big {
      color: $accent;
      @include sm {
        color: $light;
      }
      display: inline-block;
      margin-bottom: 1rem;
      font-size: 1.125rem;
    }
    p {
      font-family: $sans;
      font-size: 0.75rem;
    }
    small {
      display: inline-block;
      margin-top: 1rem;
    }
  }
  .biggest {
    flex: 40%;
    padding-bottom: 5rem;
    text-align: right;
    font-family: $serif;
    font-size: 1.75rem;
    line-height: 1.65;
    display: none;
    @include sm {
      display: block;
    }
    a {
      border-bottom: 1px solid $grey;
    }
  }
  a,
  span {
    color: $dark;
    text-decoration: none;
  }
  // @include portrait {
  //   display: none;
  // }
}
