/**
 * Logo A
 */

.logo {
  // outline: 1px solid blue;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  min-width: 10.125rem;
  height: 15rem;
  background: svg('<svg xmlns="http://www.w3.org/2000/svg" width="160" height="240" viewBox="0 0 160 240"><path fill="#{$accent}" d="M151.87 0h-151.87v240l90.424-63.665c102.526-76.177 61.446-176.335 61.446-176.335z"/></svg>') 0 0 no-repeat;
  background-size: auto 100%;
  a {
    // outline: 1px solid blue;
    display: flex;
    align-items: flex-end;
    height: 8rem;
    margin-left: 1.75rem;
    text-decoration: none;
    svg {
      width: 5.5rem;
      height: 5rem;
    }
    big {
      max-width: 13rem;
      margin-left: 3.5rem;
      margin-bottom: 0.5rem;
      font-size: 1.5rem;
      color: $accent;
      display: none;
      @include md {
        display: block;
      }
      @include xs {
        display: block;
      }
    }
    b {
      font-weight: normal;
      color: $dark;
    }
  }
}
