/**
 * Header
 */

.l-header {
  position: relative;
  padding-bottom: 1rem;
  > * {
    // outline: 1px solid blue;
    flex: 1;
  }
  @import "header-logo";
  @import "header-nav";
}


/**
 * Hamburger reset
 */

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  background-color: $dark;
  @include sm {
    background-color: white;
  }
}
