/**
 * Headers
 */

.nav {
  flex: 0 $contentWidth;
  padding: 0 1rem;
  // > * {
  //   outline: 1px solid blue;
  // }
  a {
    text-decoration: none;
    color: $dark;
    white-space: nowrap;
  }
  &-primary,
  &-secondary {
    display: flex;
    @include xs {
      display: none;
    }
  }
  &-primary {
    position: relative;
    font-family: $sans;
    height: 4rem;
    padding-right: 1rem;
    >:not(:first-child) {
      margin-left: 1.5rem;
      @include sm {
        margin-left: 3rem;
      }
    }
    a {
      position: relative;
      z-index: 20;
      top: -1rem;
      display: inline-block;
      padding: 2rem 0;
      border-top: 0.375rem solid transparent;
      font-size: 1.125rem;
      &:hover {
        border-top-color: $secondary;
      }
      &.is-active {
        border-top-color: $dark;
      }
    }
  }
  &-secondary {
    position: relative;
    z-index: 2;
    height: 4rem;
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
    a {
      padding: 0.125rem 1rem 0;
    }
    a:last-child {
      @include md {
        color: #FFF;
      }
    }
    a:hover {
      color: #FFF;
      background: $dark;
    }
  }
  &-icons {
    padding-top: 1.5rem;
    padding-right: 1.5rem;
    .loop {
      margin-top: 2.5rem;
      width: 30px;
      height: 30px;
      color: $dark;
      @include sm {
        color: #FFF;
      }
    }
  }
}
