/**
 * Colour Map
 */

// ._colourMap {
//   padding: 2rem 0;
//   > * {
//     flex-basis: calc(100% / 6 - 1rem);
//     padding: 1rem;
//     border: 1px solid;
//   }
//   ._light {
//     background: $light;
//   }
//   ._lightShade {
//     background: $lightShade;
//   }
//   ._grey {
//     background: $grey;
//   }
//   ._medium {
//     background: $medium;
//     color: $light;
//   }
//   ._darker {
//     background: $darker;
//     color: $light;
//   }
//   ._dark {
//     background: $dark;
//     color: $light;
//   }
// }

/**
 * Settings
 */

html {
  background-color: $light;
  @include sm {
    background-image: svg('<svg xmlns="http://www.w3.org/2000/svg" width="899" height="1755" viewBox="0 0 899 1755"><path fill="#FFF" fill-rule="evenodd" d="M0 10.218c41.004-6.722 83.094-10.218 126-10.218 426.916 0 773 346.084 773 773 0 407.056-621.804 815.55-899 981.381v-1744.163z"/></svg>'),
    svg('<svg xmlns="http://www.w3.org/2000/svg" width="640" height="1400" viewBox="0 0 640 1400"><path fill="#{$accent}" fill-rule="evenodd" d="M0 408.268c0-152.35 48.307-293.336 130.335-408.268h509.665v1400c-330.094-327.019-640-625.387-640-991.732z"/></svg>');
    background-repeat: no-repeat, no-repeat;
    background-position: left center, right top;
  }
  @include xxl {
    background-size: 65%, 35%;
  }
  @include down($xl) {
    background-size: 80%, 50%;
  }
  &.is-disabled {
    overflow: hidden;
    pointer-events: none;
  }
  // combined mqueries
  // @media (max-width: 544px),
  // (min-width: 767px) {
  //   background: red;
  // }
}


/**
 * Responsive font-size & line-height
 */

html {
  font-size: calc( 11px + (18 - 12) * ((100vw - 400px) / ( 1200 - 400)));
  line-height: 1.5;
  
  // Border outer overflow
  @include sm {
    position: relative;
    padding: 1rem;
    &::after {
      content: "";
      position: fixed;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      border: 1rem solid $light;
      pointer-events: none;
    }
  }
}

body {
  font-family: $serif;
  color: $dark;
}

.l-container {
  // outline: 1px solid blue;
  position: relative;
  max-width: $contentWidth;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 1rem;
}

.inner {
  width: $contentWidth;
  margin: 0 auto;
  padding: 1rem;
}

// .l-sidebar {
//   width: $sidebarWidth;
//   flex-shrink: 0;
//   background: $darker;
//   color: #FFF;
//   transition: width 0.1s ease-out;
// }
// .l-footer {
//   height: 2.5em;
//   background: none;
//   padding: 0 1em;
// }
