/**
 * Modal Navigations
 */

// when is shown, set hamburger upper
.hamburger.is-active {
  z-index: 10000;
  pointer-events: all;
}

.l-container {
  transform: initial;
  transition: transform 0.5s;
  .is-disabled & {
    transform: scale3d(0.95, 0.95, 1);
    transition: transform 0.5s;
  }
}

.l-navigation {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba($dark, 0.95);
  overflow: hidden;
  overflow-y: auto;
  pointer-events: all;
  visibility: hidden;
  transform: translate3d(0, 100%, 0);
  transition: transform 0.35s, visibility 0s 0.5s;
  &.is-active {
    visibility: visible;
    transform: translate3d(0, 0, 0);
    transition: transform 0.35s;
  }
  &.-is-menu .modal-search,
  &.-is-menu .modal-tags,
  &.-is-search .modal-menu {
    display: none;
  }
  /**
   * Nav sections
   */
  .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    min-height: 100%;
    > * {
      padding: 2rem 0;
    }
  }
  .inner a {
    font-family: $sans;
    color: #FFF;
    text-decoration: none;
  }
  .module {
    flex-basis: 100%;
    margin-bottom: 2.5rem;
    @include up($md) {
      flex-basis: calc(50% - 1.5rem);
    }
    h2 {
      font-size: 2.5rem;
      line-height: 1.75;
      color: #FFF;
      border-bottom: 1px solid $accent;
      margin-bottom: 1rem;
      // @include gradientText(left, white, $secondary);
      &.-secondary {
        @include gradientText(left, $primary, white);
      }
      &.-accent {
        @include gradientText(left, $accent, white);
      }
    }
    ul {
      margin-left: 2rem;
    }
    a {
      font-size: 1.25rem;
      line-height: 1.75;
      &:hover {
        color: $accent;
      }
    }
    .biggest a {
      font-family: $serif;
      font-size: 2rem;
    }
  }
  /**
   * Search
   */
  .modal-search form {
    display: inline-flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    > * {
      padding: 0;
      background: none;
      border: none;
      height: 3rem;
      box-shadow: none;
      outline: none;
      &::-moz-focus-inner {
        border: 0;
      }
    }
    input {
      flex: 1;
      padding: 0 2rem;
      font-size: 1.5rem;
      color: #FFF;
      border-bottom: 1px solid $accent;
    }
    button {
      width: 3rem;
      height: 3rem;
      cursor: pointer;
      &:focus svg {
        color: $accent;
      }
    }
  }
  /**
   * Tags
   */
  .modal-tags {
    text-align: center;
    // transform: scale(0.85);
    // padding: 4rem 0;
    a {
      display: inline-block;
      vertical-align: middle;
      color: $dark;
      margin: 2px auto;
      margin: 0.125rem auto;
      padding: 0.5rem 1rem;
      background: $lightShade;
      box-shadow: inset 0 1px 0 0 $accent;
      &:hover {
        background: $secondary;
      }
    }
  }
}
