<form action="/requests/form-callback" class="module callback" js="callback" autocomplete="off" novalidate>
  <h2 class="callback-heading">@heading</h2>
  <fieldset>
    <h4>Закажите обратный звонок!</h4>
    <div class="status" js="status"></div>
    <p class="input-wrap">
      <input type="text" name="name" placeholder="Ваше имя" required>
    </p>
    <p class="input-wrap">
      <input type="tel" name="phone" class="text" placeholder="Номер телефона" required>
    </p>
    <p class="input-wrap">
      <input type="text" name="city" placeholder="Из какого вы города?" required>
    </p>
    <button type="submit" class="button">Перезвоните мне!</button>
    <h4>Мы позвоним Вам в течение часа!</h4>
  </fieldset>
</form>

