<div flex="rows center-justify" class="carousel js-carousel">
  <div class="slides-w">
    <section class="slides" style="transform:translateX(0)">
      <section class="slide" id="sec1">
        <header class="heading">
          <h2><a href="#">Я хочу рассказать вам маленькую историю</a></h2>
          <h4>Бхакти Вигьяна Госвами</h4>
        </header>
        <figure class="image">
          <img src="https://placeholdit.imgix.net/~text?txtsize=33&bg=cccccc&txtclr=ffffff&txt=640%C3%97360&w=640&h=360" alt="">
        </figure>
      </section>
      <section class="slide" id="sec2">
        <header class="heading">
          <h2><a href="#">Я хочу рассказать вам маленькую историю</a></h2>
          <h4>Бхакти Вигьяна Госвами</h4>
        </header>
        <figure class="image">
          <img src="https://placeholdit.imgix.net/~text?txtsize=33&bg=cccccc&txtclr=ffffff&txt=640%C3%97360&w=640&h=360" alt="">
        </figure>
      </section>
      <section class="slide" id="sec3">
        <header class="heading">
          <h2><a href="#">Я хочу рассказать вам маленькую историю</a></h2>
          <h4>Бхакти Вигьяна Госвами</h4>
        </header>
        <figure class="image">
          <img src="https://placeholdit.imgix.net/~text?txtsize=33&bg=cccccc&txtclr=ffffff&txt=640%C3%97360&w=640&h=360" alt="">
        </figure>
      </section>
      <section class="slide" id="sec4">
        <header class="heading">
          <h2><a href="#">Я хочу рассказать вам маленькую историю</a></h2>
          <h4>Бхакти Вигьяна Госвами</h4>
        </header>
        <figure class="image">
          <img src="https://placeholdit.imgix.net/~text?txtsize=33&bg=cccccc&txtclr=ffffff&txt=640%C3%97360&w=640&h=360" alt="">
        </figure>
      </section>
      <section class="slide" id="sec5">
        <header class="heading">
          <h2><a href="#">Я хочу рассказать вам маленькую историю</a></h2>
          <h4>Бхакти Вигьяна Госвами</h4>
        </header>
        <figure class="image">
          <img src="https://placeholdit.imgix.net/~text?txtsize=33&bg=cccccc&txtclr=ffffff&txt=640%C3%97360&w=640&h=360" alt="">
        </figure>
      </section>
    </section>
  </div>

  <div class="carousel-nav">
    <span class="prev is-disabled"><svg><use xlink:href="#mono-prev" /></svg></span>
    <span class="next"><svg><use xlink:href="#mono-next" /></svg></span>
  </div>

  <div flex="row-center" class="carousel-dots">
    <span link="sec1" class="is-active">1</span>
    <span link="sec2">2</span>
    <span link="sec3">3</span>
    <span link="sec4">4</span>
    <span link="sec4">5</span>
  </div>
</div>
