<section flex="row-center" class="l-social">
  <a href="#">
    <svg>
      <use xlink:href="#mono-facebook"></use>
    </svg>
  </a>
  <a href="#" class="--accent">
    <svg>
      <use xlink:href="#mono-youtube"></use>
    </svg>
  </a>
  <a href="#">
    <svg>
      <use xlink:href="#mono-vk"></use>
    </svg>
  </a>
  <a href="#">
    <svg>
      <use xlink:href="#mono-twitter"></use>
    </svg>
  </a>
  <a href="#" class="--accent">
    <svg>
      <use xlink:href="#mono-instagram"></use>
    </svg>
  </a>
</section>


<footer class="l-footer">
  <div flex="row bottom-justify" class="inner">
    <ul class="biggest">
      <li><a href="#">Семинары</a></li>
      <li><a href="#">Сандарбхи</a></li>
      <li><a href="#">Ведарадио</a></li>
      <li><a href="#">Готовим онлайн</a></li>
      <li><a href="#">Амриталока</a></li>
    </ul>
    <div class="meta">
      <big>&copy; Ашрам Бхактиведанты, 2017</big>
      <p>Все материалы на этом сайте предназначены для последователей Гаудия-вайшнавизма.</p>
      <p>Ашрам Бхактиведанты является частью Всероссийского вайшнавского образовательного центра «Гита-нагари». Все права на материалы, находящиеся на сайте, охраняются в соответствии с законодательством РФ. Кришна всё видит!</p>
      <small>{ Сделано с <a href="http://ollejah.ru/" title="div'ная верстка сайтов">уважением</a> }</small>
    </div>
  </div>
</footer>


<!--[if lt IE 9]><script src="//yastatic.net/jquery/1.11.1/jquery.min.js"></script><![endif]-->
<!--[if (gte IE 9) | (!IE)]><!-->
<script src="https://yastatic.net/jquery/2.1.1/jquery.min.js"></script>
<!--<![endif]-->


<!-- build:js tmp.js -->
<script src="assets/app.js"></script>
<!-- endbuild -->

<!-- Yandex.Metrika counter -->
<script>
(location.hostname != 'localhost') && (function(d, w, c) {
  (w[c] = w[c] || []).push(function() {
    try {
      w.yaCounter28742273 = new Ya.Metrika({
        id: 28742273,
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true,
        webvisor: true,
        trackHash: true
      });
    } catch (e) {}
  });
  var n = d.getElementsByTagName("script")[0],
    s = d.createElement("script"),
    f = function() {
      n.parentNode.insertBefore(s, n);
    };
  s.type = "text/javascript";
  s.async = true;
  s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
  if (w.opera == "[object Opera]") {
    d.addEventListener("DOMContentLoaded", f, false);
  } else {
    f();
  }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
  <img src="//mc.yandex.ru/watch/28742273" style="position:absolute; left:-9999px;" alt="" />
</noscript>
<!-- /Yandex.Metrika counter -->

<script>
if (location.hostname != 'localhost') {
  (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-32344689-8', 'auto');
  ga('send', 'pageview');
}
</script>
