<header flex="row-justify" class="l-header">

  <div class="left">
    <div class="logo">
      <a href="/">
        <svg color="white">
          <use xlink:href="#mono-logo" />
        </svg>
        <big>Ашрам <b>Бхактиведанты</b></big>
      </a>
    </div>
  </div>

  <nav flex="column-right" class="nav">
    <ul flex="row-right" class="nav-primary">
      <li><a href="#" class="is-active">Статьи</a></li>
      <li><a href="#">Проекты</a></li>
      <li><a href="#">Медиа</a></li>
      <li><a href="#">Выпускники</a></li>
      <li><a href="#">О нас</a></li>
    </ul>

    <div flex="row bottom-right" class="nav-secondary">
      <a href="#">Попечителям</a>
      <a href="#">Абитуриентам</a>
    </div>
  </nav>

  <div flex="column-right" class="nav-icons">
    <div class="hamburger hamburger--squeeze js-hamburger">
      <!-- Меню -->
      <div class="hamburger-box">
        <div class="hamburger-inner"></div>
      </div>
    </div>
    <a href="#" class="js-search">
      <!-- Поиск -->
      <svg class="loop">
        <use xlink:href="#mono-loop"></use>
      </svg>
    </a>
  </div>

</header>
