<!-- Modal Navigations -->
<section class="l-navigation js-navigation">
  <div class="inner">
    <!-- Search -->
    <fieldset class="modal-search">
      <legend>Искать на сайте</legend>
      <form method="get" action="/index.php">
        <input name="s" placeholder="Искать на сайте..." type="search">
        <!-- <button type="submit">Найти</button> -->
        <button type="submit">
          <svg color="white" class="loop">
            <use xlink:href="#mono-loop"></use>
          </svg>
        </button>
      </form>
    </fieldset>

    <!-- Keywords -->
    <div class="modal-tags"><a href="#/tag/sandarbhi" class="tag-link-147 tag-link-position-1" title="10 записей" style="font-size: 16.470588235294pt;">Сандарбхи</a> <a href="#/tag/hari-kanta" class="tag-link-58 tag-link-position-2" title="7 записей" style="font-size: 13.176470588235pt;">Хари-канта</a> <a href="#/tag/shiromani" class="tag-link-163 tag-link-position-3" title="7 записей" style="font-size: 13.176470588235pt;">Широмани</a> <a href="#/tag/shrila-prabhupada" class="tag-link-57 tag-link-position-4" title="7 записей" style="font-size: 13.176470588235pt;">Шрила Прабхупада</a> <a href="#/tag/abhinava" class="tag-link-65 tag-link-position-5" title="6 записей" style="font-size: 12pt;">абхинава</a> <a href="#/tag/amritaloka" class="tag-link-63 tag-link-position-6" title="7 записей" style="font-size: 13.176470588235pt;">амриталока</a> <a href="#/tag/ashram" class="tag-link-28 tag-link-position-7" title="11 записей" style="font-size: 17.411764705882pt;">ашрам</a> <a href="#/tag/balans" class="tag-link-20 tag-link-position-8" title="12 записей" style="font-size: 18.117647058824pt;">баланс</a> <a href="#/tag/brahmacharya" class="tag-link-27 tag-link-position-9" title="6 записей" style="font-size: 12pt;">брахмачарья</a> <a href="#/tag/vajshnavi" class="tag-link-18 tag-link-position-10" title="8 записей" style="font-size: 14.352941176471pt;">вайшнави</a> <a href="#/tag/varna" class="tag-link-90 tag-link-position-11" title="6 записей" style="font-size: 12pt;">варна</a> <a href="#/tag/varnashrama" class="tag-link-82 tag-link-position-12" title="9 записей" style="font-size: 15.529411764706pt;">варнашрама</a> <a href="#/tag/vegetarianstvo" class="tag-link-133 tag-link-position-13" title="18 записей" style="font-size: 22.117647058824pt;">вегетарианство</a> <a href="#/tag/vedicheskie-retsepty" class="tag-link-64 tag-link-position-14" title="17 записей" style="font-size: 21.647058823529pt;">ведические рецепты</a> <a href="#/tag/guru" class="tag-link-25 tag-link-position-15" title="12 записей" style="font-size: 18.117647058824pt;">гуру</a> <a href="#/tag/dzhiva-gosvami" class="tag-link-126 tag-link-position-16" title="10 записей" style="font-size: 16.470588235294pt;">джива госвами</a> <a href="#/tag/duhovnaya-praktika" class="tag-link-101 tag-link-position-17" title="11 записей" style="font-size: 17.411764705882pt;">духовная практика</a> <a href="#/tag/zhenshciny" class="tag-link-170 tag-link-position-18" title="12 записей" style="font-size: 18.117647058824pt;">женщины</a> <a href="#/tag/kachestva" class="tag-link-176 tag-link-position-19" title="7 записей" style="font-size: 13.176470588235pt;">качества</a> <a href="#/tag/kvalifikatsiya" class="tag-link-40 tag-link-position-20" title="12 записей" style="font-size: 18.117647058824pt;">квалификация</a> <a href="#/tag/knigi" class="tag-link-45 tag-link-position-21" title="10 записей" style="font-size: 16.470588235294pt;">книги</a> <a href="#/tag/krishnananda" class="tag-link-66 tag-link-position-22" title="9 записей" style="font-size: 15.529411764706pt;">кришнананда</a> <a href="#/tag/kulinariya" class="tag-link-14 tag-link-position-23" title="49 записей" style="font-size: 32pt;">кулинария</a> <a href="#/tag/kuhnya" class="tag-link-96 tag-link-position-24" title="21 запись" style="font-size: 23.529411764706pt;">кухня</a> <a href="#/tag/nastavnichestvo" class="tag-link-23 tag-link-position-25" title="7 записей" style="font-size: 13.176470588235pt;">наставничество</a> <a href="#/tag/obrazovanie" class="tag-link-26 tag-link-position-26" title="14 записей" style="font-size: 19.764705882353pt;">образование</a> <a href="#/tag/obshcenie" class="tag-link-22 tag-link-position-27" title="17 записей" style="font-size: 21.647058823529pt;">общение</a> <a href="#/tag/obshcestvo" class="tag-link-171 tag-link-position-28" title="8 записей" style="font-size: 14.352941176471pt;">общество</a> <a href="#/tag/obyazannosti" class="tag-link-24 tag-link-position-29" title="15 записей" style="font-size: 20.235294117647pt;">обязанности</a> <a href="#/tag/otnosheniya" class="tag-link-21 tag-link-position-30" title="29 записей" style="font-size: 26.823529411765pt;">отношения</a> <a href="#/tag/praktika" class="tag-link-5 tag-link-position-31" title="45 записей" style="font-size: 31.058823529412pt;">практика</a> <a href="#/tag/predannoe-sluzhenie" class="tag-link-160 tag-link-position-32" title="14 записей" style="font-size: 19.764705882353pt;">преданное служение</a> <a href="#/tag/progress" class="tag-link-43 tag-link-position-33" title="14 записей" style="font-size: 19.764705882353pt;">прогресс</a> <a href="#/tag/produktivnost" class="tag-link-34 tag-link-position-34" title="10 записей" style="font-size: 16.470588235294pt;">продуктивность</a> <a href="#/tag/propoved" class="tag-link-44 tag-link-position-35" title="8 записей" style="font-size: 14.352941176471pt;">проповедь</a> <a href="#/tag/psihologiya" class="tag-link-33 tag-link-position-36" title="7 записей" style="font-size: 13.176470588235pt;">психология</a> <a href="#/tag/sarvagya" class="tag-link-118 tag-link-position-37" title="13 записей" style="font-size: 19.058823529412pt;">сарвагья</a> <a href="#/tag/svayamvara" class="tag-link-177 tag-link-position-38" title="7 записей" style="font-size: 13.176470588235pt;">сваямвара</a> <a href="#/tag/semya" class="tag-link-48 tag-link-position-39" title="10 записей" style="font-size: 16.470588235294pt;">семья</a> <a href="#/tag/sotsium" class="tag-link-42 tag-link-position-40" title="19 записей" style="font-size: 22.588235294118pt;">социум</a> <a href="#/tag/stabilnost" class="tag-link-37 tag-link-position-41" title="10 записей" style="font-size: 16.470588235294pt;">стабильность</a> <a href="#/tag/schaste" class="tag-link-56 tag-link-position-42" title="9 записей" style="font-size: 15.529411764706pt;">счастье</a> <a href="#/tag/filosofiya" class="tag-link-128 tag-link-position-43" title="9 записей" style="font-size: 15.529411764706pt;">философия</a> <a href="#/tag/shrimad-bhagavatam" class="tag-link-127 tag-link-position-44" title="8 записей" style="font-size: 14.352941176471pt;">шримад бхагаватам</a> <a href="#/tag/etiket" class="tag-link-16 tag-link-position-45" title="19 записей" style="font-size: 22.588235294118pt;">этикет</a></div>

    <!-- Nav -->
    <nav flex="rows-justify" class="modal-menu">
      <div class="module">
        <h2 class="-secondary">Проекты</h2>
        <ul>
          <li><a href="#">Летние интенсивы</a></li>
          <li><a href="#">Жизниград</a></li>
          <li><a href="#">Сандарбхи</a></li>
          <li><a href="#">Амриталока</a></li>
          <li><a href="#">Лекции</a></li>
          <li><a href="#">Семинары</a></li>
          <li><a href="#">Трансляции</a></li>
        </ul>
      </div>

      <div class="module">
        <h2 class="-accent">Медиа</h2>
        <ul>
          <li><a href="#">Аудио</a></li>
          <li><a href="#">Видео</a></li>
          <li><a href="#">Радио</a></li>
          <li><a href="#">Архив трансляций</a></li>
        </ul>
      </div>

      <div class="module">
        <h2>Статьи</h2>
        <ul>
          <li><a href="#">Семинары</a></li>
          <li><a href="#">Сандарбхи</a></li>
          <li><a href="#">Ведарадио</a></li>
          <li><a href="#">Готовим онлайн</a></li>
          <li><a href="#">Амриталока</a></li>
        </ul>
      </div>

      <div class="module">
        <ul class="biggest">
          <li><a href="#">Семинары</a></li>
          <li><a href="#">Сандарбхи</a></li>
          <li><a href="#">Ведарадио</a></li>
          <li><a href="#">Готовим онлайн</a></li>
          <li><a href="#">Амриталока</a></li>
        </ul>
      </div>

      <div class="module">
        <h2>О нас</h2>
        <ul>
          <li><a href="#">История</a></li>
          <li><a href="#">Как связаться</a></li>
          <li><a href="#">Лекторий</a></li>
        </ul>
      </div>

    </nav>
  </div>
</section>
