/**
 * Article card
 */

.masonry {
  column-count: 1;
  @include up($md) {
    column-count: 2;
    column-gap: 3rem;
  }
}

.articles {
  position: relative;
  a {
    text-decoration: none;
    color: $dark;
  }
  .c-card {
    // flex-basis: 100%;
    margin-bottom: 3.5rem;
    // @include up($md) {
    //   // flex-basis: calc(50% - 1.5rem);
    // }
    page-break-inside: avoid;
    break-inside: avoid;
    box-shadow: 0 0 2rem 0 rgba($dark, 0.25);
    transition: box-shadow 0.35s ease-in-out;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 2rem 0 rgba($dark, 0.5);
    }
    // &:nth-child(6) {
    &.-banner {
      display: inline-flex;
      margin-top: 4rem;
    }
    &.-video .heading {
      background: #FFF;
    }
    &.-event .heading {
      background: $lightShade;
    }
  }
  img {
    border-bottom: 1px solid transparent;
  }
  .heading {
    order: 2;
    position: relative;
    padding: 1.5rem 2rem 2.5rem;
    background: $secondary;
    h2 {
      font-size: 1.5rem;
      line-height: 1.35;
      // @include gradientText(left, $dark, $primary)
    }
    h4 {
      font-size: 1rem;
      font-family: $sans;
      color: $darker;
      margin-top: 0.5rem;
    }
    .labels-w {
      position: absolute;
      bottom: 0;
      transform: translateY(50%);
      font-family: $sans;
      // font-size: 0.875rem;
    }
    .c-label {
      display: inline-block;
      margin-right: 0.25rem;
      padding: 0.25rem 1.25rem;
      background: $accent;
      color: $light;
      &.-event {
        background: $light;
        color: $darker;
        svg {
          position: relative;
          top: 0.125rem;
          width: 1rem;
          height: 1rem;
          margin-right: 0.25rem;
        }
      }
    }
  }
}
