/**
 * Carousel
 */

// .wrapper {
//   border: 1px solid red;
//   width: 100%;
//   // height: 40vh;
//   // overflow-x: auto;
// }
.carousel {
  position: relative;
  border: 1px solid;
  
  // padding-bottom: 4rem;
  .slides-w {
    overflow: hidden;
  }
  .slides {
    display: inline-flex;
    width: auto;
    transition: transform 0.3s ease;
  }
  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(#{$contentWidth} - 6rem);
    // height: 40vh;
    box-sizing: border-box;
    > * {
      flex: 1;
      flex: 0 100%;
      @include up($md) {
        flex: 0 calc(50% - 1.5rem);
      }
    }
  }
  .heading {
    margin-right: 3rem;
    text-align: right;
  }
  a {
    text-decoration: none;
    // color: $accent;
  }
  h2 {
    font-size: 2.5rem;
  }
  h4 {
    // font-weight: bold;
    font-style: 1rem;
    font-family: $sans;
    margin-top: 2rem;
  }
  &-dots,
  &-nav {
    flex: 0 100%!important;
  }
  &-nav {
    position: relative;
    top: -6rem;
    > * {
      position: absolute;
      width: 3rem;
      height: 3rem;
      top: 0;
      display: block;
      cursor: pointer;
    }
    > .prev {
      left: -3rem;
    }
    > .next {
      right: -3rem;
    }
    > .is-disabled {
      color: rgba($dark, 0.25);
      pointer-events: none;
      cursor: default;
    }
  }
  &-dots {
    > * {
      width: 0.5rem;
      height: 0.5rem;
      margin: 2rem 0.25rem;
      background: rgba($dark, 0.25);
      border-radius: 50%;
      text-indent: -999rem;
      cursor: pointer;
    }
    > .is-active {
      background: $dark;
      transform: scale(1.25);
    }
  }
}
