/**
 * Carousel
 */

.carousel {
  position: relative;
  margin: 1rem 0;
  > * {
    flex: 1;
    flex: 0 100%;
    @include md {
      flex: 0 calc(50% - 1.5rem);
    }
  }
  .heading {
    padding: 2rem;
    @include md {
      padding-right: 0;
    }
    text-align: right;
    align-self: flex-end;
  }
  a {
    // @extend %gradientText;
    // @include gradientText(left, $accent, white);
    color: $dark;
    text-decoration: none;
    border-bottom: 1px solid $grey;
  }
  h2 {
    font-size: 2.5rem;
  }
  h4 {
    font-style: 1rem;
    font-family: $sans;
    margin-top: 2rem;
  }
  img {
    box-shadow: 0 0 2rem 0 rgba($dark, 0.5);
  }
  &-dots,
  &-nav {
    flex: 0 100%!important;
  }
  &-nav {
    position: relative;
    top: -6rem;
    > * {
      position: absolute;
      width: 4rem;
      height: 4rem;
      top: 0;
      display: block;
      padding: 0.5rem;
      background: $light;
      cursor: pointer;
    }
    > .prev {
      left: 0;
      @include xl {
        left: -4rem;
        background: none;
      }
    }
    > .next {
      right: 0;
      @include xl {
        right: -4rem;
        background: none;
      }
    }
    > .is-disabled {
      color: rgba($dark, 0.25);
      pointer-events: none;
      cursor: default;
    }
  }
  &-dots {
    > * {
      flex-shrink: 0;
      display: block;
      width: 0.5rem;
      height: 0.5rem;
      margin: 3rem 0.5rem;
      background: rgba($dark, 0.25);
      border-radius: 50%;
      text-indent: -999rem;
    }
    > .is-active {
      background: $dark;
      transform: scale(1.25);
    }
  }
}
