/**
 * wp-pagenavi
 */

.wp-pagenavi {
  margin: 4rem auto;
  font-family: $sans;
  > * {
    margin: 0 0.25rem;
  }
  a,
  .current,
  .pages,
  .extend {
    padding: 0.5rem 0.875rem;
    text-decoration: none;
    color: $dark;
  }
  .current,
  .pages,
  .extend,
  .first,
  .last, {
    display: none;
    @include md {
      display: block;
    }
  }
  a.page {
    background: $lightShade;
    &:hover {
      background: $light;
    }
  }
  // .pages,
  // .extend,
  // .next,
  // .prev,
  // .first,
  // .last,
  // .nextpostslink,
  // .prevpostslink {
  //   color: red;
  // }
  .current {
    font-weight: bold;
    background: $accent;
    color: $light;
  }
}
