/**
 * Select
 */

.select {
  position: relative;
  display: inline-block;
  select {
    border: $controlBorder;
    border-radius: $radius;
    background: #FFF;
    box-shadow: inset 0 -1px 0 0 rgba(#000, 0.15);
    
    border-radius: 0.25rem;
    // margin-left: 0.25rem;
    padding-left: 1rem;
    background-color: #fafafb;
    background: linear-gradient(#FFF, $light);
  }
  &.-wide {
    display: flex;
    select {
      flex: 1;
      width: 100%;
    }
  }
  &::after {
    @extend %dropdownArrow;
    border-color: $darker;
  }
  &:hover::after {
    border-color: $primary;
  }
  // &:hover,
  // &.is-active {
  //   border-color: $primary;
  //   select {
  //     color: $primary;
  //   }
  // }
}
