/**
 * Switcher

  // Round switch
  <label class="switcher">
    <input type="checkbox">
  </label>

  // Rectangular switch
  <label class="switcher -rect">
    <input type="checkbox">
  </label>
 */

$controlWidth: $controlHeight * 1.8;
$pointerSize: $controlHeight / 1.1;

.switcher {
  position: relative;
  // display: inline-flex;
  // align-items: center;
  // Square
  &.-rect {
    input:before {
      border-radius: 0;
    }
    input:after {
      border-radius: 0;
    }
  }
  input {
    margin-left: $controlWidth/2;
    margin-right: $controlWidth/2.7;
    &:before {
      @extend %controlElement;
      width: $controlWidth;
      background-color: $grey;
      border-radius: $controlHeight;
    }
    &:checked:before {
      background-color: $primary;
    }
    &:after {
      @extend %controlElement;
      height: $pointerSize/1.1;
      width: $pointerSize/1.1;
      transform: translate(-100%, -50%);
      background-color: white;
      border-radius: 50%;
    }
    &:checked:after {
      transform: translate(0%, -50%);
    }
  }
  // between two values
  &.-between {
    display: inline-flex;
    align-items: center;
    // > * {
    //   border: 1px solid blue;
    // }
    input {
      margin: 0 1.5rem;
    }
    input:before {
      background-color: $primary;
    }
    input + span {
      order: -1;
      text-align: right;
    }
    span {
      white-space: nowrap;
      font-weight: bold;
    }
    span:last-child,
    :checked ~ span {
      color: $medium;
    }
    :checked ~ span:last-child {
      color: $dark;
    }
  }
}
