/**
 * Chechbox & Radio component class
 */

.checkbox {
  input {
    margin-left: $controlHeight/4;
    margin-right: $controlHeight/4;
    &:before {
      @extend %controlElement;
      border: $controlBorder;
      background-color: #FFF;
    }
    &:checked:before {
      border-color: $primary;
      background-color: $primary;
    }
    &:after {
      position: absolute;
      z-index: 1;
      content: "";
      transform: rotate(45deg);
      top: 50%;
      left: 50%;
      width: 0.5rem;
      height: 1rem;
      transform-origin: 180% -15%;
      transform: translate(-50%, -50%), rotate(45deg);
      border: solid #FFF;
      border-width: 0 2px 2px 0;
    }
  }
}


/**
 * Radio
 */

.radio {
  input {
    margin-left: $controlHeight/4;
    margin-right: $controlHeight/4;
    &:before {
      @extend %controlElement;
      background-color: #FFF;
      border: $controlBorder;
      border-radius: 50%;
    }
    &:after {
      @extend %controlElement;
      width: $controlHeight/3.5;
      height: $controlHeight/3.5;
      border-radius: 50%;
    }
    &:checked:before {
      border-color: $primary;
      background-color: $primary;
    }
    &:checked:after {
      background-color: #FFF;
    }
  }
  // every next after first...
  ~ .radio {
    margin-left: 1rem;
  }
}


/**
 * Radio Set
 */

.radio-btn {
  @extend .btn;
  display: flex;
  padding: 0;
  text-align: center;
  cursor: pointer;
  span {
    flex: 1;
    position: relative;
    z-index: 1;
    padding: $controlPad;
    &:before {
      position: absolute;
      z-index: -1;
      content: "";
      top: -1px;
      right: 0;
      bottom: -1px;
      left: 0;
    }
  }
  input {
    display: none;
    &:checked + span {
      color: #FFF;
    }
    &:checked + span:before {
      background: $primary;
    }
  }
}
