/**
 * Controls
 =========================================================================
 */

$controlHeight: 1.25rem;
$controlPad: 0.35rem 0.6875rem;
$controlBorder: 1px solid $grey;
// $controlShadow: 0 0 0.25rem rgba(black, 0.15);
$controlShadow: 0 1px 0 0 rgba(#000, 0.15);
$controlShadowInset: inset 0 1px 1px rgba(#000, 0.1);

/**
 * Mixin for element inside label 
 * radio, checkbox, switcher
 */

%controlElement {
  position: absolute;
  z-index: 1;
  content: "";
  top: 50%;
  left: 50%;
  width: $controlHeight;
  height: $controlHeight;
  transform: translate(-50%, -50%);
  transition: 0.15s;
  cursor: pointer;
}

fieldset {
  border: 0;
}

::placeholder {
  color: shade($medium, 20%);
}


/**
 * Resets and base settings
 */

// Webkit browsers add a 2px margin 
// outside the chrome of form elements
input,
button,
select,
textarea {
  margin: 0;
}

// hand cursor on clickable elements
// label,
select,
button,
input[type=button],
input[type=submit],
input[type=file] {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  cursor: pointer;
}

// make buttons play nice in IE
button,
input[type=button],
input[type=submit] {
  width: auto;
  overflow: visible;
}

button,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0 none;
  outline: 0;
}

// Sizes
label,
select,
input,
button,
input[type=button],
input[type=submit],
textarea {
  position: relative;
  display: inline-block;
  font-size: 0.875rem;
  padding: $controlPad;
  &.-sm {
    font-size: 0.75rem;
  }
  &.-lg {
    font-size: 1.25rem;
  }
}

// label,
// button,
// input[type=button],
// input[type=submit] {
//   display: flex;
//   align-items: center;
//   // чтобы не сужалось
//   > * {flex-shrink: 0}
// }

// Label with inside element
label {
  padding-left: 0;
  padding-right: 0;
  > input[type=checkbox],
  > input[type=radio] {
    padding: 0;
  }
}

// Label with inside input text
label > input {
  margin-left: 0.875rem;
  font-size: inherit;
}

// Label [for] before input text
label[for] {
  padding-left: 0.125rem;
}

// Label with select
label + .select {
  margin-left: 0.5rem;
}

select {
  background: none;
  line-height: 1;
  padding-right: 2rem;
  padding-left: 0.6875rem;
  // Google Chrome 28,and Google Chrome > 28, Opera 14 and Opera > 14
  @supports (-webkit-appearance:none) {
    padding: 0.5rem 2rem 0.5rem 0.6875rem;
  }
}

input, textarea {
  // flex: 1;
  padding: 0.4rem 0.6875rem;
  border: $controlBorder;
  box-shadow: $controlShadowInset;
  outline: 0;
  &:focus {
    border-color: $medium;
  }
}

textarea {
  resize: vertical;
}


/**
 * Focus
 */

input,
button,
textarea,
select {
  &:focus {
    z-index: 1;
    box-shadow: 0 0 0 3px tint($grey, 50%)!important;
    // &:active {
    //   box-shadow: inherit!important
    // }
  }
}

input[type=checkbox],
input[type=radio] {
  cursor: pointer;
  &:focus:before {
    box-shadow: 0 0 0 3px tint($grey, 50%)!important;
  }
  // &:active:before {
  //   box-shadow: inherit!important;
  // }
}

/**
 * Disabled
 */

[disabled] {
  opacity: 0.65;
  pointer-events: none;
  cursor: not-allowed;
}
