/**
 * Button group
 */

.-gutters {
  > *:not(:last-child) {
    margin-right: 2rem;
  }
}

.f-group {
  flex: 1;
  position: relative;
  // display: flex;
  > * {
    flex: 1;
  }
  > label {
    flex-grow: 0;
    white-space: nowrap;
    margin-right: 1rem;
  }
  > [type="text"] {
    flex: auto;
  }
  > [type="button"] {
    flex-grow: 0;
    border-radius: 0 .125rem .125rem 0;
  }
  button,
  .btn {
    flex-grow: 0;
    border-radius: 0;
    &:first-child {
      border-radius: .125rem 0 0 .125rem;
    }
    &:not(:last-child) {
      border-right-color: transparent;
    }
    &:last-child {
      border-radius: 0 .125rem .125rem 0;
    }
  }
}
