/**
 * Button
 */

a.btn {
  @extend button;
  // @extend .btn;
  // border: 1px solid;
  text-decoration: none;
  padding: 0.45rem 0.875rem;
}

.btn,
button,
input[type=button],
input[type=submit] {
  flex: 0;
  justify-content: center;
  white-space: nowrap;
  color: $dark;
  background: #FFF;
  border: $controlBorder;
  border-radius: $radius;
  box-shadow: $controlShadow;
  transition: border ease-in-out 0.15s, background ease-in-out 0.15s;
  // &:focus {
  //   outline: 2px solid $medium;
  //   z-index: 1;
  // }
  &:hover {
    background: #FFF;
    // border-color: $medium;
    border-color: $medium!important;
  }
  &:active {
    color: desaturate($medium, 30%);
    border-color: desaturate($medium, 30%);
    background: desaturate(#FFF, 30%);
    // box-shadow: inset 0 1px 1px rgba(#000, 0.2);
    box-shadow: $controlShadowInset;
    transform: scale(0.99);
  }
  /**
   * Colors
   */
  @each $k,
  $v in $baseColors {
    &.#{$k} {
      color: #FFF;
      background: $v;
      border-color: $v;
      &:hover {
        background: saturate($v, 10%);
      }
      &:active {
        color: rgba(#FFF, 0.75);
        background: desaturate($v, 30%);
      }
      &.is-loading {
        pointer-events: none;
        color: transparent;
        &:before {
          border-color: transparent transparent #FFF #FFF;
        }
      }
    }
  }
  /**
   * Statuses
   */
  &.is-loading {
    pointer-events: none;
    color: transparent;
    &:before {
      animation: spinAround 500ms infinite linear;
      will-change: transform;
      border: 2px solid $primary;
      border-radius: 290486px;
      border-color: transparent transparent $primary $primary;
      position: absolute!important;
      z-index: 2;
      display: block;
      content: "";
      top: 50%;
      left: 50%;
      height: 1rem;
      width: 1rem;
      margin-left: -0.5rem;
      margin-top: -0.5rem;
    }
  }
  &.is-active {
    background: $light;
    color: $primary;
  }
  /**
   * As link
   */
  &.-link {
    color: $primary;
    text-decoration: underline;
    background: none;
    box-shadow: none;
    border: none;
    &:before {
      content: none;
    }
    &:hover {
      text-decoration: none;
      background: $light;
    }
  }
  /**
   * Full width
   */
  &.-wide {
    width: 100%;
    flex: 1;
  }
  /**
   * FX
   */
  // &::before {
  //   content: "";
  //   position: absolute;
  //   z-index: 1;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   opacity: 0;
  //   background: rgba(#000, 0.075);
  //   transform: scale3d(1, 0.2, 1);
  //   transition: transform 0.45s, opacity 0.45s, background 0.45s;
  //   transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  // }
  // &:hover::before {
  //   opacity: 1;
  //   transform: translate3d(0, 0, 0);
  // }
}


/**
 * Button group
 */

.btn-group {
  position: relative;
  display: inline-flex;
  > * {
    flex: 1;
    flex-shrink: 0;
    white-space: nowrap;
    border-radius: initial;
    &:first-child {
      border-radius: $radius 0 0 $radius;
    }
    &:not(:last-child) {
      border-right: 0;
      &::after {
        position: absolute;
        z-index: 1;
        content: "";
        top: 0;
        bottom: 0;
        right: -1px;
        border-left: 1px solid $medium;
        visibility: hidden;
        transition: visibility ease-in-out 0.15s
      }
      &:hover::after {
        visibility: visible;
      }
    }
    // &:first-child +:last-child {
    //   border-left: $border;
    // }
    &:last-child {
      border-radius: 0 $radius $radius 0;
      // border-left: 0;
      border-left: $border;
    }
    &:hover {
      z-index: 2;
      border-color: $medium!important;
    }
  }
}
