/**
 * Suggestions List autofill
 */

.suggestions-w {
  position: relative;
  input {
    width: 100%;
  }
}

.suggestions-list {
  position: absolute;
  z-index: 10;
  min-width: 100%;
  max-height: calc(10rem + 3px);
  overflow-y: auto;
  overflow-x: hidden;
  background: #FFF;
  border: 1px solid $grey;
  display: none;
  &.is-active {
    display: flex;
    flex-direction: column;
  }
  span {
    line-height: 2rem;
    padding: 0 0.875rem;
    &:not(:last-child) {
      border-bottom: 1px solid $grey;
    }
    &.is-active {
      background-color: $light;
    }
    &.is-active:hover,
    &.is-active:focus {
      background-color: $primary;
      color: #FFF;
    }
  }
}
