/**
 * Article header
 */

.title-w {
  min-height: 25rem;
  padding: 2rem 0;
  // background: svg('<svg xmlns="http://www.w3.org/2000/svg" width="1440" height="446" viewBox="0 0 1440 446"><path fill="#EAE9E0" fill-opacity=".95" d="M0 0h1440v445.688L0 360z"/></svg>') no-repeat center top;
  background: svg('<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1440 446"><path fill="#EAE9E0" fill-opacity=".96" d="M0 0h1440v445.688L0 360z"/></svg>') no-repeat center top;
  background-size: 100% 100%;
  .inner {
    margin: 0 auto;
  }
}

.title,
.main {
  margin: 1rem 0;
  > * {
    // position: relative;
    flex: 0 100%;
  }
  >:first-child {
    @include md {
      flex: 0 calc((100% / 3) * 2 - 1.5rem);
      margin-right: 3rem;
    }
  }
  >:last-child {
    @include md {
      flex: 0 calc(100% / 3 - 1.5rem);
    }
  }
  img {
    width: 100%; // разрешаем увеличение
  }
}


/**
 * Banner title
 */

.title {
  h1 {
    @include gradientText(left, $dark, $accent);
    margin-bottom: 1rem;
    margin-left: 3rem;
  }
  h4 {
    font-size: 1rem;
    font-family: $sans;
    color: $darker;
    margin-top: 0.5rem;
    margin-left: 3rem;
  }
  figure {
    position: relative;
  }
  img {
    position: relative;
    transform: scale(1.2);
  }
  /**
   * TODO : merge with c-label`s
   */
  .labels-w {
    font-family: $sans;
    margin-top: 1rem;
    margin-left: 3rem;
  }
  .c-label {
    display: inline-block;
    margin-right: 0.25rem;
    padding: 0.25rem 1.25rem;
    background: $accent;
    color: $light;
    &.-event {
      background: $light;
      color: $darker;
      svg {
        position: relative;
        top: 0.125rem;
        width: 1rem;
        height: 1rem;
        margin-right: 0.25rem;
      }
    }
  }
}


/**
 * Article
 */

.article {
  hyphens: auto;
  >:not(figure):not(blockquote) {
    margin-right: 3rem;
    margin-left: 3rem;
  }
  >:not(:last-child) {
    margin-bottom: 2rem;
  }
  >* ~ h2,
  >* ~ h3 {
    margin-top: 4rem;
  }
  blockquote {
    padding: 0 2.5rem;
    border-left: 0.5rem solid $accent;
    border-right: 0.5rem solid $accent;
    font-family: $sans;
  }
  h2 {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0.75rem;
      left: -3rem;
      width: 2.5rem;
      height: 1rem;
      // background: $accent;
      background: $secondary;
    }
  }
  h4 {
    font-family: $sans;
    font-weight: bold;
  }
  img {
    box-shadow: 0 .125rem .5rem 0 rgba($dark, 0.15);
    border: 1px solid $lightShade;
    // padding: 0.25rem;
  }
  figcaption {
    margin: 1rem 6rem 0;
    text-align: center;
    font-family: $sans;
    font-size: 0.875rem;
    color: $darker;
  }
  ul {
    @extend .list;
    margin-top: 0!important;
    margin-bottom: 0!important;
  }
}
