/**
 * @extend l-one-column
 */

// .l-container {}


/**
 * Article header
 * @extend article.scss
 */

.title-w {
  min-height: 14rem;
  background: svg('<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1440 446"><path fill="#EAE9E0" fill-opacity=".96" d="M0 0h1440v445.688L0 360z"/></svg>') no-repeat center top;
  background-size: 100% 100%;
}

.title {
  h1 {
    text-align: center;
    font-size: 3.5rem;
    // background: none;
    // -webkit-background-clip: inherit;
    // background-clip: none;
    // -webkit-text-fill-color: inherit;
    // color: $dark!important;
    margin-left: 0;
  }
}


/**
 * Main, Article,
 * @extend article.scss
 */

.title,
.main {
  > * {
    margin-right: 0!important;
  }
}
.c-yamoney {
  margin-bottom: 4rem;
  // padding: 2rem;
  // background: rgba($light, 0.15);
}


/**
 * Narrow One column
 */

.-narrow {
  // width: 48rem;
  margin-right: auto;
  margin-left: auto;
  @include md {
    width: 48rem;
  }
}
