/**
 * Wordpress comments, respond
 */

.comments,
.comment-respond {
  margin: 4rem auto;
  @include md {
    margin: 4rem 6rem;
  }
}

.comment {
  &-count {
    margin: 2rem auto;
  }
  &-list {
    list-style: none;
    border-top: 0.25rem solid $accent;
    margin: 4rem 0;
    li {
      position: relative;
      border-bottom: 1px solid $grey;
    }
    > li li {
      margin-left: 6rem !important;
    }
    > li ul {
      margin-bottom: 2rem;
    }
    .children li {
      background: #FFF;
      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 3.5rem;
        width: 0;
        height: 0;
        margin-top: -0.5rem;
        border-right: 0.5rem solid transparent;
        border-bottom: 0.5rem solid $grey;
        border-left: 0.5rem solid transparent;
      }
    }
  }
  &-meta,
  &-data {
    padding: 2rem 0;
  }
  &-meta {
    text-align: center;
    font-size: 0.75rem;
    float: left;
    width: 8rem;
    img {
      display: block;
      max-width: 4rem;
      margin: 0 auto 1rem;
      border-radius: 50%;
    }
  }
  &-data {
    margin-left: 8rem;
    padding-right: 2rem;
    h4 {
      display: inline-block;
      margin-bottom: 1rem;
      font-weight: bold;
    }
  }
  // .comment-edit-link, 
  // .comment-reply-link
  &-links {
    margin-top: 1rem;
    a {
      display: inline-block;
      font-family: $sans;
      font-size: 0.875rem;
      white-space: nowrap;
      text-decoration: none;
      margin-right: 1rem;
      padding: 0.25rem 0.75rem;
      border: 1px solid $grey;
      background: #FFF;
      color: $accent;
    }
  }
}

.comment-respond {
  padding: 0 2rem;
}


/**
 * Statuses
 */

span.waitmoderation {
  font-weight: bold;
  display: block;
  color: $primary;
  text-shadow: none;
}

.comment-status {
  font-weight: bold;
  display: none;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  color: #FFF;
  background: $primary;
  &.error {
    background: $accent;
  }
  &.timeout {
    background: $secondary;
  }
}
