@charset "UTF-8";

/**
 * Defaults : mixins, base, elements, components
 */

@import "mixins/mixins";
@import "config";
@import "base/reset";
@import "base/helpers";
@import "base/flex-layout";
@import "base/extends";
@import "base/content";
// @import "base/animations";

/**
 * Elements
 */

@import "elements/links";
@import "elements/image";
@import "elements/media";
@import "elements/list";
@import "elements/table";
@import "elements/hint";
@import "elements/hamburgers/used";
@import "elements/form";

/**
 * Common
 */

@import "common/is-scroll";
@import "common/c-yamoney";
@import "common/c-note";
// @import "common/c-close";
// @import "common/c-modal";
// @import "common/c-badge";
// @import "common/c-card";
// @import "common/c-icons";
// @import "common/c-overlay";
// @import "common/c-title";
// @import "common/c-top-message";
// @import "common/is-scroll";

/**
 * Layout
 */

@import "layout/layout";
@import "layout/header";
@import "layout/footer";
@import "layout/navigation";

/**
 * Common components
 */


/**
 * Views
 */

.l-frontpage {
  @import "views/frontpage/l-frontpage";
  @import "views/frontpage/carousel";
  @import "views/frontpage/articles";
  @import "views/frontpage/wp-pagenavi";
}

.l-single {
  @import "views/single/article";
  @import "views/single/additional-articles";
  @import "views/single/wp-comments";
}

.l-aside {
  @import "views/aside/aside";
  @import "views/aside/wp-calendar";
}

.l-one-column {
  @import "views/single/article-one-column";
}
