/**
 * Colours
 */

$primary: #2AAADC;
// $primary: #3EB3C4;
$secondary: #D5EDF8;
$accent: #FF6666;
$success: #8BC075;
$wait: #FBC366;

/**
 * Greys
 */

$light: #F7F6F3;
$lightShade: #EAE9E0;
// Greys
$dark: #2F3947; // 2B3035
$darker: tint($dark, 15%);
$medium: tint($dark, 45%);
$grey: tint($dark, 75%);


/**
 * Colours map
 */

$baseColors: (
  '-primary': $primary, 
  '-secondary': $secondary, 
  '-accent': $accent, 
  '-wait': $wait, 
  '-success': $success,
  '-grey': $grey,
  '-medium': $medium,
  '-darker': $darker,
);


/**
 * Color highlight classes from color map
 */
@each $k, $v in $baseColors {
  .#{$k} {
    color: $v!important;
  }
}

/**
 * Fonts
 */

$system: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
"Roboto",
"Oxygen",
"Ubuntu",
"Cantarell",
"Fira Sans",
"Droid Sans",
"Helvetica Neue",
sans-serif;

$serif: "Noto Serif", serif;
$sans: "Roboto", sans-serif;

/**
 * Sizes
 */

// $sidebarWidth: 13rem;
// $sidebarCollapsed: 3.5rem;
// $contentWidth: 61.875rem; // 990
// $contentWidth: 72.5rem; // 1160
$contentWidth: 64.5rem; // 1160

/**
 * Decorate elements
 */

$radius: 0.125rem;
// $shadow: 0 0.125rem 0.125rem 1px rgba(#000, 0.05);
$shadow: 0 1px 1px 0 rgba(#000, 0.1);
$border: 1px solid $grey;
