/**
 * Forms
 */

fieldset {
  border: none;
}

legend {
  display: none;
}

form {
  position: relative;
  margin: 0 auto;
}

form .iw {
  overflow: visible;
  position: relative;
  margin: 1rem auto;
}

form abbr {
  color: $accent;
  border: none;
}

label {
  // font-weight: bold;
  display: inline-block;
  margin-bottom: 0.25rem;
  color: $darker;
}


/** 
 * placeholder colors
 */

// input::-webkit-input-placeholder,
// input::-moz-placeholder {
//   color: #93402f;
// }

/**
 * Input
 */

[type="text"],
.text,
textarea {
  // font-size: inherit;
  font: 1.25rem $sans;
  width: 100%;
  padding: 0.75rem 1.25rem;
  border: 2px solid $grey;
  background: #FFF;
  // box-shadow: inset 0 1px 1px rgba($dark, 0.075);
  transition: border linear 0.2s;
  &:focus {
    border-color: $primary;
  }
}

textarea {
  resize: none;
}


/**
 * Buttons
 */

[type="submit"],
[type="button"],
.btn {
  // font: 1.25rem $sans;
  font: 1rem $sans;
  position: relative;
  display: inline-block;
  // margin-bottom: 2rem;
  padding: 0.75em 1.25em;
  vertical-align: middle;
  text-decoration: none;
  color: #FFF;
  border: 0 none;
  background: $primary;
  box-shadow: 0 0 1px rgba($dark, 0.25), inset 0 -1px 0 rgba($dark, 0.25);
  // box-shadow: 0 1px 0 rgba($dark, 0.25);
  cursor: pointer;
  &:focus,
  &:hover {
    color: #FFF;
    background: tint($primary, 10%);
  }
  &:active {
    top: 1px;
    color: rgba(#FFF, 0.65);
    background: $primary;
    box-shadow: inset 0 1px 0 rgba($dark, 0.25);
  }
  /**
   * Sizes
   */
  &.-lg {
    font-weight: bold;
    font-size: 1.25rem;
    text-transform: uppercase;
  }
  /**
   * Colours
   */
  &.-accent {
    background: $accent;
    color: #FFF!important;
    &:focus,
    &:hover {
      color: #FFF;
      background: tint($accent, 10%);
    }
    &:active {
      top: 1px;
      color: rgba(#FFF, 0.65)!important;
      background: $accent;
    }
  }
  &.-white {
    border: 1px solid;
    color: $primary;
    background: #FFF;
    // &:focus,
    // &:hover {
    //   color: $primary;
    //   background: #FFF;
    // }
    &:active {
      top: 1px;
      color: rgba($primary, 0.65);
      background: #FFF;
    }
  }
}


/**
 * Checkbox
 */

input[type="checkbox"],
input.checkbox {
  float: left;
  margin: 5px 6px 0 0;
  & + label {
    display: inline !important;
    float: inherit !important;
    width: inherit !important;
    padding: inherit !important;
    color: inherit !important;
    background: inherit !important;
  }
}


/**
 * Radio
 */

input[type="radio"],
input.radio {
  float: left;
  margin: 5px 6px 0 0;
}

input[type="radio"] + label,
input.radio + label,
label > input[type="radio"],
label > input.radio {
  float: none;
}


/**
 * Select
 */

select {
  width: auto;
  margin-top: 0.375rem;
}


/**
 * jQuery
 */

// #status {
//   display: none;
//   margin: 0.5rem auto;
//   padding: 0.5rem 1rem;
//   line-height: 1.5rem;
//   background: #d56;
//   color: #FFF;
// }
