/**
 * HINT
 ==================================================================
 */

[hint] {
  position: relative;
  overflow: visible!important;
  &:before {
    position: absolute;
    left: 0;
    max-width: 30rem;
    padding: 0.75em 1.5em;
    visibility: hidden;
    opacity: 0;
    z-index: 1000000;
    pointer-events: none;
    transform: translate3d(0, -1.5rem, 0);
    transition: 0.15s ease;
    transition-delay: 0ms;
    content: attr(hint);
    box-shadow: 0 0 0 1px rgba($dark, 0.15);
    background: #FFF;
    color: $dark;
    // background: $strong;
    // color: #FFF;
    font-weight: normal;
    line-height: 15px;
    font-size: 12px;
    line-height: 13px;
    // white-space: nowrap;
  }
  &:hover:before {
    visibility: visible;
    opacity: 1;
    transition-delay: 100ms;
  }
  &:hover:before {
    transform: translateY(-2.5rem);
  }
}

[hint='']:before {
  display: none !important;
}

/**
 * Tooltip
 */
[tip] {
  position: relative;
  overflow: visible!important;
  &::before {
    position: absolute;
    z-index: 1000000;
    left: 0;
    top: 50%;
    content: attr(tip);
    width: 15rem;
    padding: 0.5rem 0.75rem;
    background: #FFF;
    box-shadow: 0 0 14px 1px rgba($dark, 0.15);
    color: $dark;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    // white-space: nowrap;
    word-wrap: break-word;
    visibility: hidden;
    opacity: 0;
    transform: translate3d(-2rem, -50%, 0);
    transition: 0.1s ease-in-out 50ms;
    pointer-events: none;
  }
  &:hover::before {
    visibility: visible;
    opacity: 1;
    transform: translate3d(1.5rem, -50%, 0);
  }
  &::after {
    @include triangle(left, #FFF, 0.5rem, 1);
    position: absolute;
    z-index: 1000001;
    top: 50%;
    left: 1rem;
    transform: translate3d(-2rem, -50%, 0);
    visibility: hidden;
    opacity: 0;
    transition: 0.1s ease-in-out 50ms;
  }
  &:hover::after {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, -50%, 0);
  }
}

[tip='']::before {
  display: none !important;
}
