// бикубическое изменение размеров для IMG с не-нативными размерами
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

// Эластичные изображения
img {
  // width: 100%; // разрешаем увеличение
  // max-width: 100%; // запрещаем увеличение
  height: auto;
  width: auto\9; // ie8
  /* Remove white space below image */
  vertical-align: text-bottom;
}


/*
Правильное решение для retina (2x)

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    // CSS правила для retina
}

Этот сниппет определяет только ретина дисплеи (2х), но есть еще и дисплеи с device-pixel-ratio больше 1 и меньше 2 — мобильные телефоны. Для них лучше тоже показывать оптимизированные под retina изображения.

У себя в сниппете я проверяю на 120dpi:

// 1.25 dpr
@media
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi){
    // CSS правила для retina
}

Какой из них использовать решать вам. Предупрежу, что если dpi больше 1 и меньше 2, то это мобильное устройство. А если загружать для мобильного устройства оптимизированную под ретина дисплеи графику, то сайт будет дольше загружаться. Что важно для пользователей мобильных устройств.
 */
