//a:link, a:visited, a:active {
a {
  color: $primary;
  cursor: pointer;
  text-decoration: underline;
  transition: color linear 0.15s;
  &:hover {
    color: $primary;
    text-decoration: none;
  }
}

::-moz-selection {
  background: $primary;
  color: #FFF;
  text-shadow: none
}

::selection {
  background: $primary;
  color: #FFF;
  text-shadow: none
}
