/**
 * Component badge
 */

.c-badge {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 1;
  background: $accent;
  color: #FFF;
  border-radius: 0.875em;
  min-width: 2em;
  padding: 0.25em 0.6875em;
  margin-left: 0.5rem;
}