/**
 * Component cards, task, etc.
 */

.c-card {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-itrems: center;
  position: relative;
  font-size: 0.875rem;
  background: #FFF;
  border: 1px solid #FFF;
  border-top: 1px solid $grey;
  margin-bottom: 0.5rem;
  padding: 0.125rem 0.375rem;
  border-radius: $radius;
  box-shadow: $shadow;
  // cursor: pointer;
  // > * {
  //   outline: 1px solid teal;
  // }
  .title,
  .rows,
  .row {
    display: flex;
    flex: 100%;
  }
  .title,
  .row {
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: 1px solid $grey;
    // > * {
    //   outline: 1px solid teal;
    // }
  }
  .rows {
    flex-flow: row wrap;
    justify-content: flex-start;
  }
  .row:last-child {
    border-bottom: none;
  }
  // &.is-active {
  //   background: tint($wait, 90%);
  // }
}
