/**
 * Icons <i>
 */

// [class^="icon-"],
[icon] {
  // outline: 1px solid lightblue;
  display: inline-block;
  margin-right: 0.375rem;
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

// [icon=sync] {
//   background: svg('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12.291 4.727v-2.727l-3.636 3.636 3.636 3.636v-2.727c3 0 5.455 2.455 5.455 5.455 0 .909-.273 1.818-.636 2.545l1.364 1.364c.636-1.182 1.091-2.455 1.091-3.909 0-4-3.273-7.273-7.273-7.273zm0 12.727c-3 0-5.455-2.455-5.455-5.455 0-.909.273-1.818.636-2.545l-1.364-1.364c-.636 1.182-1.091 2.455-1.091 3.909 0 4 3.273 7.273 7.273 7.273v2.727l3.636-3.636-3.636-3.636v2.727z"/></svg>');
// }

[icon=user] {
  background: svg('<svg viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><path d="M9 3c0 1.7-1.3 3-3 3s-3-1.3-3-3 1.3-3 3-3 3 1.3 3 3zm-9 8c0-2 4-3.1 6-3.1s6 1.1 6 3.1v1h-12v-1z" fill="#{$grey}"/></svg>');
}

[icon="invoice"] {
  background: svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 20c-5.5 0-10-4.5-10-10s4.5-10 10-10 10 4.5 10 10-4.5 10-10 10zm0-18c-4.4 0-8 3.6-8 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm4 7h-3v-3h-2v3h-3v2h3v3h2v-3h3z"/></svg>');
}

[icon="invoice-accept"] {
  background: svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 20c-5.5 0-10-4.5-10-10s4.5-10 10-10 10 4.5 10 10-4.5 10-10 10zm0-18c-4.4 0-8 3.6-8 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm-2.7 11.7l-2-2c-.4-.4-.4-1 0-1.4s1-.4 1.4 0l1.3 1.3 5.3-5.3c.4-.4 1-.4 1.4 0s.4 1 0 1.4l-6 6c-.4.4-1 .4-1.4 0z"/></svg>');
}

[icon="payment"] {
  background: svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M19 4h-3v-3c0-.6-.4-1-1-1h-12c-1.7 0-3 1.3-3 3v14c0 1.7 1.3 3 3 3h16c.6 0 1-.4 1-1v-14c0-.6-.4-1-1-1zm-17-1c0-.6.4-1 1-1h11v2h-12v-1zm16 15h-15c-.6 0-1-.4-1-1v-11h16v12z"/><circle cx="14" cy="12" r="2"/></svg>');
}

[icon="info"] {
  background: svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 11"><path fill="#{$primary}" fill-rule="evenodd" d="M5.5 11c-3.038 0-5.5-2.462-5.5-5.5s2.462-5.5 5.5-5.5 5.5 2.462 5.5 5.5-2.462 5.5-5.5 5.5zm-1.5-7v1h2v-1h-2zm0 4v1h3v-1h-3zm1-3v3h1v-3h-1zm0-3v1h1v-1h-1z"/></svg>');
}

[icon="time"] {
  background: svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 20c-5.5 0-10-4.5-10-10s4.5-10 10-10 10 4.5 10 10-4.5 10-10 10zm0-18c-4.4 0-8 3.6-8 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm3.8 10l-4-1c-.5-.1-.8-.5-.8-1v-5c0-.6.4-1 1-1s1 .4 1 1v4.2l3.2.8c.5.1.9.7.7 1.2-.1.6-.6.9-1.1.8z"/></svg>');
}

[icon="folder"] {
  background: svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M19 20h-18c-.6 0-1-.4-1-1v-11c0-.6.4-1 1-1h18c.6 0 1 .4 1 1v11c0 .6-.4 1-1 1zm-17-2h16v-9h-16v9zm17-16h-8.1l-1-1.6c-.3-.2-.6-.4-.9-.4h-8c-.6 0-1 .4-1 1v3c0 .6.4 1 1 1h18c.6 0 1-.4 1-1v-1c0-.6-.4-1-1-1z" fill="#{$primary}"/></svg>');
}
