/**
 * Component modal
 */

// flex center-center
.c-modal {
  @extend %overlay;
  animation: с-modal 0.25s ease 1;
  @keyframes с-modal {
    from {
      opacity: 0
    }
    to {
      opacity: 1
    }
  }
  .inner {
    flex: 0 80vw;
    max-height: calc(100vh - 6rem);
    overflow: hidden;
    overflow-y: scroll;
    background: #FFF;
    padding: 1.5rem 2rem;
    &.-wide {
      flex: 0 calc(100vw - 6rem)
    }
  }
}

