/**
 * Component c-note
 */

.c-note {
  // border: 1px solid $lightShade;
  font-size: 0.875rem;
  border-top: 2px solid $accent;
  background: white;
  margin: 2rem auto;
  padding: 2rem 3rem;
  box-shadow: 0 1px 2rem 0 rgba(#000, 0.1);
  > :not(:last-child) {
    // margin: 1rem auto;
    margin-bottom: 1rem;
  }
}
