.c-overlay {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale(0.5);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.35s ease-in, opacity 0.35s ease;
  &.is-start {
    transform: scale(1);
    opacity: 1;
    pointer-events: all;
  }
}