.c-top-message-w {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  // &::before {
  //   position: fixed;
  //   content: "";
  //   z-index: -1;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: rgba($dark, 0.25);
  //   // отключаем скролл
  //   overflow: hidden;
  //   // отключаем выделение
  //   -webkit-touch-callout: none;
  //   user-select: none;
  //   // отключаем клики
  //   pointer-events: none;
  // }
  .-content {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 1rem;
    background: rgba($primary, 0.95);
    border-top: 1px solid rgba($dark, 0.15);
    font-size: 1.25rem;
    text-align: center;
    color: #FFF;
    text-shadow: 0 1px 1px rgba($dark, 0.85);
    opacity: 0;
    transform: translate3d(0, -100vh, 0);
    animation: fade 0.35s ease-out forwards;
    @keyframes fade {
      to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}
