/**
 * Scrollable content wrapper
 */

// ::-webkit-scrollbar {
//   -webkit-appearance: none;
//   -webkit-transform: translate3d(0, 0, 0)
// }
// ::-webkit-scrollbar-thumb {
//   background-color: rgba(50, 50, 50, .5);
//   border: 3px solid transparent;
//   border-radius: 9px;
//   background-clip: content-box;
// }
// ::-webkit-scrollbar-track {
//   background-color: rgba(100, 100, 100, .5);
//   width: 15px;
// }

.is-scroll {
  // border: 1px solid blue;
  flex: auto;
  min-width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0 1em;
}

// for scroll wrapper
.scroll-w {
  border: 1px solid blue;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .is-scroll {
    width: calc(100% + 2rem);
    margin-right: -2rem;
    padding-right: 2rem;
  }
}
