/**
 * Wordpress aside calendar
 */

#wp-calendar * {
  font-family: $sans;
  text-align: center;
  border: none;
}

#wp-calendar {
  %round {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    content: "";
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  background: $light;
  margin: 2rem auto;
  max-width: 34rem;
  caption {
    // font-size: 1.125rem;
    // padding: 0.5rem;
    // color: #FFF;
    // background: $primary;
    display: none;
  }
  th,
  td {
    padding: 0.6875rem;
  }
  th {
    // background: $grey;
  }
  td {
    border-bottom: 1px solid $grey;
    // background: #FFF;
  }
  tbody a {
    position: relative;
    z-index: 1;
    color: #FFF;
    text-decoration: none;
    &::before {
      @extend %round;
      background: $primary;
    }
  }
  td.pad {
    background: none;
  }
  td#today {
    position: relative;
    z-index: 1;
    color: #FFF;
    // background: $accent;
    &::before {
      @extend %round;
      background: $accent;
    }
  }
  td#today a {
    color: #FFF;
  }
  tfoot td {
    border: none;
  }
  td#prev,
  td#next {
    padding: 0.25rem 0;
    text-align: left;
    a {
      color: $accent;
    }
  }
  td#next {
    text-align: right;
  }
}
