/**
 * COLOURS Map
 * @use color: palette(primary, light);
 */

$palettes: (
  primary: (
    base:   $primary,
    light:  lighten($primary, 10%),
    dark:   darken($primary, 10%)
  ),
  secondary: (
    base:   $secondary,
    light:  lighten($secondary, 10%),
    dark:   darken($secondary, 10%)
  ),
  accent: (
    base:   $accent,
    light:  lighten($accent, 10%),
    dark:   darken($accent, 10%)
  ),
  dark: (
    base:   $dark,
    light:  lighten($dark, 10%),
    dark:   darken($dark, 10%)
  ),
  grey: (
    base:  $grey,
    light: lighten($grey, 10%),
    dark: darken($grey, 10%)
  )
);

@function palette($palette, $tone: 'base') {
  @return map-get(map-get($palettes, $palette), $tone);
}