/**
 * Вертикальное выравнивание
 * css-tricks.com/centering-in-the-unknown
 */

@mixin verticalAlign {
  text-align: center;
  white-space: nowrap;
  &::before {
    // outline: 1px solid red;
    content: "\200B";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
  }
}
