/**
 * BREAKPOINTS
 */

$xs: 360px; // Extra small devices | Portrait phones (<34em : 22.5em)
$sm: 544px; // Small devices | Landscape phones (≥34em)
$md: 768px; // Medium devices | Tablets (≥48em)
$lg: 992px; // Large devices | Desktops (≥62em)
$xl: 1200px; // Extra large devices | Desktops (≥75em)
$xxl: 1920px; // Mega large Desktops | Desktops (≥120em)

/**
 * breakpoints hidden classes
 */
$breakpoints: (
  xs: $xs,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
  xxl: $xxl
);

@each $k, $v in $breakpoints {
  .hidden-#{$k}-up {
    @media screen and (min-width: $v) {
      display: none;
    }
  }
  .hidden-#{$k}-down {
    @media screen and (max-width: $v - 1px) {
      display: none;
    }
  }
}
