%dropdownArrow {
  position: absolute;
  z-index: 1;
  content: "";
  transform: rotate(45deg);
  top: 32%;
  right: 0.75rem;
  width: 0.5rem;
  height: 0.5rem;
  // transform-origin: 50% 50%;
  // transform: translate(-50%, -50%), rotate(45deg);
  transform: rotate(45deg);
  border: solid $darker;
  border-width: 0 2px 2px 0;
  pointer-events: none;
}


/**
 * Dots unread, etc.
 */

%dot {
  position: absolute;
  content: "";
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background: $accent;
}


/**
 * Text gradient
 */

%gradientText {
  text-decoration: none;
  background: -webkit-linear-gradient(left, $accent, $primary);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin gradientText($direction: left, $start: $accent, $end: $primary) {
  text-decoration: none;
  background: -webkit-linear-gradient($direction, $start, $end);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
