// CLEARFIX
.cf:before,
.cf:after {
  content: "";
  display: table
}

.cf:after {
  clear: both
}

.cf {
  zoom: 1
}

// BOX-SIZING
// *,
// *:after,
// *:before {
//     box-sizing: border-box;
// }
// Floats
.-fl {
  float: left;
}

.-fr {
  float: right;
}

// Aligns
.-left {
  text-align: left;
}

.-center {
  text-align: center;
}

.-right {
  text-align: right;
}

.-clear {
  clear: both;
}

.-last {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

// .nobr, 
.-nowrap {
  white-space: nowrap;
}

// .fixed, 
.is-fixed {
  position: fixed;
}

// валюты
.cur {
  font-style: normal;
}

// отключаем скролл
.no-scroll {
  overflow: hidden;
}

// отключаем выделение
.no-select {
  -webkit-touch-callout: none;
  user-select: none;
}

// Display
.-block {
  display: block;
}

.-inline {
  display: inline;
}

.-flex {
  display: flex;
}

// Float
.cf {
  @include clearfix;
}

// Size
.-wide {
  width: 100%;
}


/**
 * hack: truncate into flexbox
 * set parent > container width 
 * stackoverflow.com/a/26535469
 */

.-truncate {
  min-width: 0;
  flex-basis: 100%;
  text-overflow: ellipsis;
  white-space: nowrap; //!
  overflow: hidden;
  hyphens: none;
}


/* 
// Overlay
.is-overlay {
    @include overlay;
} */

// Visibility
.is-hidden {
  display: none!important;
}

// .is-hidden-sm {
//   @include sm {
//     display: none !important;
//   }
// }
// .is-hidden-md {
//   @include md {
//     display: none !important;
//   }
// }
// .is-hidden-touch {
//   @include touch {
//     display: none !important;
//   }
// }
// .is-hidden-lg {
//   @include lg {
//     display: none !important;
//   }
// }
// Other
.is-disabled {
  pointer-events: none;
}
